.logoContainer {
  position: fixed;
}
.logoLink {
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 20px;

  color: rgb(58, 57, 57, 0.9);
  text-decoration: none;
  margin: 0;
}
.logoContainer::before {
  position: absolute;
  left: -8px;
  top: -8px;

  content: " ";
  width: 35px;
  height: 35px;
  background-image: url("./Clear.png");
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
}

@media (min-width: 1024px) {
  .logoLink {
    font-size: 24px;
  }
  .logoContainer::before {
    left: -12px;
    top: -6px;

    content: " ";
    width: 40px;
    height: 40px;
  }
}
