.searchInput {
  display: block;
  width: 85px;
  border: none;
  color: rgb(58, 57, 57);
  outline: none;
  padding-bottom: 5px;
  margin: 0 auto;
  background-color: transparent;
  font-size: 14px;
}
.searchInput::placeholder {
  color: rgb(58, 57, 57);
}
.form {
  position: fixed;
  right: 20px;
  display: flex;
  border-bottom: 1px rgb(58, 57, 57) solid;
}
.submitButton {
  background-color: transparent;
  outline: none;
  border: none;
  height: 15px;
  width: 15px;

  background-image: url("https://img.icons8.com/ios/500/search--v1.png");
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .searchInput {
    width: 140px;
    font-size: 16px;
  }

  .submitButton {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
  }
}
