.searchInput {
  display: block;
  width: 140px;
  border: none;
  color: rgb(58, 57, 57);
  /* background-image: url(./images/icon.png);
  background-repeat: no-repeat; */
  outline: none;
  padding-bottom: 5px;
  margin: 0 auto;
  background-color: transparent;
  font-size: 16px;
  /* text-align: center; */
}
.searchInput::placeholder {
  color: rgb(58, 57, 57);
}
.form {
  display: flex;
  border-bottom: 2px rgb(58, 57, 57) solid;
}
.submitButton {
  background-color: transparent;
  outline: none;
  border: none;
  height: 20px;
  width: 20px;
  margin-bottom: 5px;

  background-image: url("https://img.icons8.com/ios/500/search--v1.png");
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;
  cursor: pointer;
}
