.cardsWrapper {
  text-decoration: none;
}
.singleDayCard {
  display: flex;
  font-family: sans-serif;
  color: rgb(58, 57, 57);
  flex-direction: column;
  margin: 5px;
  border: 1px solid transparent;
  text-align: center;
  padding: 20px 15px 5px 15px;
  width: 90px;
  background-color: rgba(187, 152, 152, 0.4);
}
.linkButton {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* text-decoration: underline; */
  display: inline;
  margin: 0;
  padding: 0;
}

.linkButton:hover,
.linkButton:focus {
  text-decoration: none;
}
.singleDayCard:hover {
  border: 1px solid rgb(58, 57, 57, 0.2);
  background-color: rgba(187, 152, 152, 0.2);
  transition: all 400ms ease-out;
}

.p_temp {
  font-size: 40px;
  color: rgb(58, 57, 57);
  font-family: sans-serif;
  opacity: 1;
}

.img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.minMax {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sign {
  font-size: 16px;
  color: rgb(58, 57, 57);
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.smallTemp {
  font-size: 22px;
  color: rgb(58, 57, 57);
  margin: 0.25rem;
  text-align: center;
}

.dayNow {
  font-size: 16px;
  color: rgb(58, 57, 57);
  font-weight: 500;
  margin: 0.25rem;
  text-align: center;
}

.icon_weather {
  display: block;
  margin: 0 auto;
}

.date {
  font-size: 18px;
  margin: 0.25rem;
  color: rgb(58, 57, 57);
  font-weight: 500;
  opacity: 1;
}
