.singleDayCard {
  display: flex;
  font-family: sans-serif;
  color: rgb(58, 57, 57);
  flex-direction: column;
  margin: 1rem;
  border: 1px solid transparent;
  text-align: center;
  padding: 20px 15px 5px 15px;
  width: 90px;
  background-color: rgba(187, 152, 152, 0.4);
}

.singleDayCard:hover {
  border: 1px solid rgb(58, 57, 57, 0.5);
}
/* .single_day_card:active {
  border: 1px solid rgb(58, 57, 57, 0.5);
} */

.singleDayCard:hover .btnMoreInfo {
  color: rgb(58, 57, 57);
}

.p_temp {
  font-size: 40px;
  color: rgb(58, 57, 57);
  font-family: sans-serif;
  opacity: 1;
}

.img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.minMax {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sign {
  font-size: 16px;
  color: rgb(58, 57, 57);
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.smallTemp {
  font-size: 22px;
  color: rgb(58, 57, 57);
  margin: 0.25rem;
  text-align: center;
}

.dayNow {
  font-size: 16px;
  color: rgb(58, 57, 57);
  font-weight: 500;
  margin: 0.25rem;
  text-align: center;
}

.icon_weather {
  display: block;
  margin: 0 auto;
}

.date {
  font-size: 18px;
  margin: 0.25rem;
  color: rgb(58, 57, 57);
  font-weight: 500;
  opacity: 1;
}

.btnMoreInfo {
  /* display: none; */
  background: transparent;
  border: transparent;
  border-bottom: 1px solid transparent;
  padding: 5px 0;
  /* padding: ; */
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 300;
  color: transparent;
  width: 74px;
  margin: 0 auto;
  cursor: pointer;
}

/* .btn_more_info:hover {
  border-bottom: 1px solid rgb(58, 57, 57, 0.7);
} */
