.weatherData {
  margin: 0 auto;
  color: rgb(58, 57, 57);
}
.cityName,
.description {
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 28px;
}
.mainInfo {
  text-align: center;
}
.temp {
  font-size: 70px;
  font-family: sans-serif;
  margin: 0;
  font-weight: 100;
}
.weatherDataList {
  font-family: sans-serif;
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding-top: 35px;
}
.listItem {
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
  border-right: 1px solid rgb(58, 57, 57);
}
.listItem:last-child {
  border-right: none;
}

/* ///////////////// */

.forecastTable {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.timeList {
  font-family: sans-serif;
  list-style: none;
  text-align: center;
  padding: 0;
}
.forecastListItem {
  padding-bottom: 25px;
}

.forecastListWrapper {
  border-right: 1px solid rgb(58, 57, 57);
  padding-right: 28px;
}
.forecastListWrapper:last-child {
  border-right: none;
}

.forecastList {
  font-family: sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.forecastItem {
  padding: 10px;
}

.block {
  display: block;
}

.wrapper {
  display: flex;
  list-style: none;
}

.time {
  padding: 10px;
}
