.weatherData {
  margin: 0 auto;
  color: rgb(58, 57, 57);
  padding-top: 150px;
  width: 760px;
}
.cityName,
.description {
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 28px;
}
.mainInfo {
  text-align: center;
}
.time {
  font-family: sans-serif;
}
.temp {
  font-size: 70px;
  font-family: sans-serif;
  margin: 0;
  font-weight: 100;
}
.weatherDataList {
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  display: flex;
  width: 760px;
}
.listItem {
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
  border-right: 1px solid rgb(58, 57, 57, 0.5);
  border-bottom: none;
  width: auto;
}
.listItem:last-child {
  border-right: none;
}
.margin {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

@media (min-width: 1024px) {
  .weatherData {
    width: auto;
  }

  .weatherDataList {
    flex-wrap: none;
    margin: 0 auto;
    padding-top: 42px;
    width: 776px;
  }
}
